*{ 
    margin: 0px;
    padding: 0px;
}
h1{
    color: purple;
    padding: 32px;
    border-style: solid;
    border-color: black;
    border-width: 15px;
}
.TheBox{
    display: inline-block;
    vertical-align: top;
    height: 320px;
    width: 320px;
    margin: 35px;
}
#ch_red{
    background-color: red;
}
#ch_blue{
    background-color: royalblue;
}
#ch_green{
    background-color: green;
}